* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.start-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3 169 244 / 90%);
  color: #fff;
  font-size: 28px;
}
.start-screen .start-btn {
  background-color: #f44336;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
}
.game-info {
  margin: 10px auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 15px;
  border: 3px solid #2196f3;
  font-size: 22px;
}
.memory-game {
  width: 800px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.memory-game .game-block {
  cursor: pointer;
  position: relative;
  width: 130px;
  height: 130px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memory-game.no-clicking {
  pointer-events: none;
}
.memory-game .game-block.flipped,
.memory-game .game-block.matched {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  border: 5px solid #2196f3;
}
.game-block .front {
  background-color: #333;
}
.game-block .front::before {
  content: "!";
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
.game-block .back {
  background-color: #c3c3c3;
  transform: rotateY(180deg);
}
.game-block .face.back img {
  width: 100px;
  height: 100px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #2c3e50;
  color: #fff;
}
.popup img {
  width: 100px;
  height: 100px;
}
.popup .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
.popup .tries,
.popup .time {
  font-size: 22px;
}
.popup .play-again {
  background-color: #fb8500;
  padding: 7px 21px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 28px;
}
